/*----------------General----------------*/

a:any-link {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1030px;
    margin: 46px auto 0;
    background-image: url("../images/Main logo & bg/main background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 46px 160px 15px;
}

/*---------------Header---------------*/
.header__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 17px;
}

.header__logo-link {
    position: relative;
    color: white;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    height: 51px;
    text-transform: uppercase;
    justify-self: left;
}

.header__logo-link:hover {
    color: #F26522;
}

.header__logo-link:hover > .header__logo-image{
    visibility: hidden;
}

.header__logo-link:hover > .header__logo-image-hover {
    visibility: visible;
}

.header__logo-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.header__logo-image-hover {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
}

.header__logo-text {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    height: 51px;
    width: min-content;
    align-content: space-between;
    justify-content: left;
    padding-left: 61px;
    box-sizing: border-box;
}

.header__logo-text-MILAN {
    font-size: 29px;
    line-height: 29px;
}

.header__contacts-link {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: white;
    justify-self: right;
}

.header__contacts-link-text {
    display: flex;
    width: min-content;
    flex-wrap: wrap;
    height: 51px;
    align-content: space-between;
    justify-content: right;
}

.header__contacts-link:hover {
    color: #F26522;
}

/*----------------Main----------------*/
.main__grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px 53px;
    justify-items: center;
    margin-bottom: 47px;
}

.main__item {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    color: white;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    position: relative;
}

.main__item:hover > .main__item-name {
    color: #F26522;
}

.main__item:hover > .main__item-hover {
    height: 57px;
    padding: 7px 14px 12px 16px;
    transition: 0.1s;
}

.main__item-image {
    border-image: linear-gradient(white, black) 1 fill;
    border-style: solid;
    border-width: 0 4px;
    box-sizing: border-box;
}
/*----------------Main__item-hover----------------*/
.main__item-hover {
    display: flex;
    overflow: hidden;
    background-color: #F26522;
    position: absolute;
    bottom: 37px;
    left: 4px;
    width: 300px;
    height: 0;
    padding: 0 14px 0 16px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-end;
}

.main__item-price{
    display: flex;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    width: min-content;
    row-gap: 8px;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-between;
    align-items: flex-start;
}

.price {
    font-size: 20px;
    line-height: 20px;
}

.main__item-viewdetails {
    font-size: 14px;
    line-height: 14px;
    color: white;
    padding-right: 21px;
    position: relative;
}

.main__item-viewdetails::after {
    content: '\203A';
    font-size: 25px;
    position: absolute;
    right: 0;
    bottom: 1px;
}

/*----------------Footer----------------*/
.footer {
    text-align: center;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: white;

}
/*----------------General----------------*/
/*----------------General----------------*/
