/*--------------General--------------*/

.container {
    width: 1280px;
    margin: 0 auto;
    padding: 63px 98px 0 98px;
}

a:any-link {
    text-decoration: none;
}

header, main, footer, h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

/*--------------Header--------------*/

.header {
    margin-bottom: 48px;
}

h1>a {
    color:#000000;
}

.header__logo {
    font-size: 80px;
    line-height: 94px;
    margin: 0 0 38px 0;
}

.header__logo-bluetext {
    color: #4bcaff;
}

.header__navigation {
    background-color: #35444F;
    text-align: center;
}

.header__navigation-menu {
    margin: 0;
}

.header__navigation-menu-item {
    display: inline-block;
    border-left: 1px solid #ffffff;
}

.header__navigation-menu-item:last-child {
    border-right: 1px solid #ffffff;
}

.header__navigation-menu-item-link {
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    line-height: 28px;
    padding: 26px 40px 20px 40px;
}

.header__navigation-menu-item:hover {
    background-color: #222F3A;
}

/*--------------Main--------------*/

main {
    margin-bottom: 51px;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.section1__side-navigtion {
    width: 345px;
    border: 1px solid #000000;
    align-self: flex-start;
}

.section1__side__navigation-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section1__side__navigation__menu__item-link {
    padding: 25px 0 25px 44px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    display: block;
    color: #000000;
}

.section1__side__navigation__menu__item-link:hover {
    background-color: #DBDBDB;
    padding-left: 76px;
}

.section1__article {
    width: 885px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    align-self: flex-start;
}

.image-wrapper {
    display: flex;
    justify-content: center;
    vertical-align: center;
    padding: 75px 268px 73px 297px;
    border: 1px solid #000000;
    margin-bottom:37px;
}

.section1__article-logo:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.section1__article-p1 {
    margin: 0 0 34px 0;
}

.section1__article-p2 {
    margin:0;
}

/*--------------Footer--------------*/

footer {
    padding: 20px 40px 20px 40px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
}

.footer__navigation-menu {
    display: flex;
    margin: 0;
    padding:0;
    list-style-type: none;
    vertical-align: center;
}

.footer__navigation__menu-item {
    margin: 0;
}

.footer__navigation__menu-item+.footer__navigation__menu-item {
    margin-left:30px;
}

.footer__navigation__menu__item-link {
    font-size: 28px;
    color: #0C1927;
}

.footer__navigation__menu__item-link:hover {
    color: #3181A6;
    padding-bottom: 7px;
    border-bottom: 2px solid #3181A6;
}

.copyrights {
    align-self: center;
    font-size: 24px;
    color: #010101;
}
