body {
    font-family: sans-serif;
}

.currentPrice {
    display: none;
    margin: 10px 0;
}

.removeBtn {
    text-align: center;
    display: none;
    border-radius: 20%;
    border: thin solid grey;
    font-size: 10px;
    margin-left: 10px;
}

.removeBtn:active {
    color: grey;
}

.inputField {
    border: 1px solid black;
    outline: none;
}

.warningTag {
    display: none;
    color: black;
    text-transform: uppercase;
    font-size: 8px;
    margin-left: 90px;
    margin-top: 3px;
}