
/*-----------------Header------------------*/

a {
    text-decoration: none;
    color: white;
}

.header {
    background-image: url("../images/sections background/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: solid 8px white;
    min-width: 1920px;
}

.header__navigation {
    background-color: rgba(94, 93, 88, 0.6);
}

.container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    position: relative;
    display: flex;
    align-items: center;
}

.logo__hex {
    margin: 26px 0;
}

.logo__text {
    display: flex;
    align-items: center;
}

.logo__text__white_h {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 13px;
}

.logo__text__white_the {
    margin-left: 6px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
}

.logo__text__aqua_ham {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #18CFAB;
    margin-left: 1px;
    text-transform: capitalize;
}

.header__navigation__menu {
    margin:  0  0  0 275px;
    list-style: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.header__navigation__menu__item {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: solid 3px;
    border-color: transparent;
    padding: 50px 0;
    box-sizing: border-box;
}

.header__navigation__menu__item__link {
    border-bottom: solid 4px;
    border-color: transparent;
    padding: 48px 0;
}

.header__navigation__menu__item__link:hover {
    color: #18CFAB;
    border-color: #18CFAB;
}

.header__navigation__menu__item + .header__navigation__menu__item {
    margin-left: 20px;
}

.search__button {
    background: url("../images/sections background/Search icon 1.svg") no-repeat center;
    border: none;
    margin-left: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

/*---------------Header Slogan-----------------*/
.flex__direction__column {
    flex-direction: column;
}

.header__slogan {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.first-line {
    margin-top: 265px;
    text-transform: uppercase;
    color: #18CFAB;
    font-size: 35px;
    line-height: 35px;
}

.white_text {
    color: white;
}

.second-Line {
    text-transform: uppercase;
    color: white;
    font-size: 78px;
    line-height: 78px;
    margin-top: 22px;
}

.third-line {
    color: lightgrey;
    font-size: 34px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 35px;
}

.header__buttons {
    margin-top: 122px;
    padding-bottom: 243px;
    z-index: 1;
    position: relative;
}

.header__button__styles {
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border: none;
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.header__button__styles::before {
    content: '';
    width: 169px;
    height: 10px;
    display: block;
    border-top: solid 5px white;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: -4px;
    left: 0;
    z-index:-1;

}

.explore-now {
    background-color: #18CFAB;
}

.purchase-now {
    margin-left: 26px;
    background-color: #00CBF6;
}

/*-----------Theme options (big squares)--------------*/

.theme-options {
    display: flex;
    justify-content: stretch;


}

.theme-options__item {
    flex-basis: 480px;
    flex-grow: 1;
    text-align: center;
    height: 360px;
    min-width: 480px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    padding-top: 232px;
    box-sizing: border-box;
}

.theme-options__item:nth-child(2n) {
    background-color: #18CFAB;
    color: white;
}

.theme-options__item:nth-child(2n+1) {
    background-color: #1C2A33 ;
    color: #18CFAB;
}

.first {
    background: url("../images/sections background/1.svg") no-repeat 50% 30%;
}

.second {
    background: url("../images/sections background/2.svg") no-repeat 50% 30%;
}

.third {
    background: url("../images/sections background/3.svg") no-repeat 50% 30%;
}

.fourth {
    background: url("../images/sections background/4.svg") no-repeat 50% 30%;
}

/*-------------Our Services--------------*/



.our-services {
    min-width: 1920px;
}


.our-services__header {
    margin-top: 92px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    text-transform: capitalize;
    padding-bottom: 24px;
    position: relative;
}

.our-services__header::after {
    content: '';
    width: 80px;
    height: 2px;
    transform: skew(70deg);
    border-top: solid 2px #18CFAB;
    border-bottom: solid 2px #18CFAB;
    position: absolute;
    bottom: 0;
    left: 70px;
}

.our-services__navigation__menu {
    list-style: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 70px;
    padding: 0;
}

.our-services__navigation__menu__item {
    display: inline-block;
}

.our-services__navigation__menu__item__link {
    color: #777777;
    text-transform: capitalize;
    width: 193px;
    height: 72px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    border: solid 2px transparent;
}

.our-services__navigation__menu__item__link:hover {
    border: solid 2px #18CFAB;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    margin: 0 auto;
}

.item__link-active {
    color: white;
    background-color: #18CFAB;
}

.item__link-active + .triangle-down {
    border-top: 15px solid #18CFAB;
}

.our-services__section {
    display: none;
    justify-content: space-between;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.our-services__image {
    width: 193px;
    display: inline-block;
}

.our-services__description {
    display: inline-block;
    width: 952px;
    margin: 0 0 0 13px;
}

.description-active {
    display: flex;
}

/*---------------Everything is ready---------------*/

.everything-is-ready {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/sections background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:90px;
    min-width: 1920px;
}

.everything-is-ready > .container{
    flex-direction: column;
}

.everything-is-ready__slogan {
    margin: 130px 0 0 0;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}

.everything-is-ready__extra-text {
    margin-top: 13px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.button-z-index {
    z-index: 1;
}

.everything-is-ready__purchase-now {
    margin: 65px 0 130px 0;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 5px;
    background-color: #18CFAB;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    position: relative;
}

.everything-is-ready__purchase-now::before {
    content: '';
    width: 168px;
    height: 10px;
    display: block;
    border-top: solid 5px white;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: -1;
}

/*----------------Our Amazing Work--------------------*/

.our-amazing-work {
    background-color: #E9EDEF;
    min-width: 1920px;
}

.our-amazing-work__slogan {
    margin: 95px 0 0 0 ;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    color: #4E4E4E;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 24px;
}

.our-amazing-work__slogan::after {
    content: '';
    width: 80px;
    height: 2px;
    transform: skew(70deg);
    border-top: solid 2px #18CFAB;
    border-bottom: solid 2px #18CFAB;
    position: absolute;
    bottom: 0;
    left: 135px;
}

.filters-navigation {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin: 0;
}

.filters-navigation__menu {
    list-style: none;
    margin: 70px 0 0 0;
    padding: 0;

}

.filters-navigation__menu__item {
    display: inline-block;

}

.filters-navigation__menu__item__link {
    display: inline-block;
    color: #717171;
    padding: 22px 15px;
    border: solid 1px #DADADA;
    text-transform: capitalize;
    min-width: 50px;
    text-align: center;
}

.menu-item__link-active {
    border: solid 1px #18CFAB;
}

/*----------------Our Amazing Work Gallery--------------------*/

.gallery {
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery__filter-header {
    background: url("../images/gallery header icons/icon.png") 101px 46px no-repeat;
    background-size: 88px;
    border-top: 6px solid #18CFAB;
    box-sizing: border-box;
    width: 284px;
    height: 206px;
    display: none;
}

.gallery__filter-header__slogan {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #18CFAB;
    text-transform: uppercase;
    text-align: center;
    margin-top: 124px;
}

.gallery__image {
    display: none;
}

.gallery__filter-header__sub-slogan {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #8A8A8A;
    text-transform: capitalize;
    text-align: center;
    margin-top: 15px;

}

.gallery__image {
    width: 284px;
    height: 206px;
}

.btn__load-more {
    width: 168px;
    height: 64px;
    padding: 25px 0 25px 25px;
    background-color: #18CFAB;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    position: relative;
    border-radius: 5px;
    border: none;
    margin: 70px auto 100px;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;

}

.btn__load-more::before {
    content: '+';
    position: absolute;
    left: 23px;
    top: 17px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

.active {
    display: block;
}