/*------------------general------------------*/

.container {
    width: 1280px;
    margin: 0 auto;
}

a:any-link {
    text-decoration: none;
}

.menu-element a {
    color: #FF0000;
}

/*------------------top menu------------------*/

.top-menu {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin: 32px 0 32px 0;
}

.menu-list {
    list-style-type: none;
}

.menu-element {
    display: inline-block;
}

.menu-element + .menu-element {
    margin-left:72px;
}

/*------------------main content------------------*/

main {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    text-align: center;
    width: 1145px;
    margin: 0 auto;
  }

.main-header {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 4px;
    margin: 48px 0 0 0;
    text-transform: uppercase;
    color: #373737;
}

.text-section {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3px;
    color: #373737;
}

h2 + .text-section {
    margin-top: 38px;
}

.text-section + .text-section {
    margin-top: 28px;
}

.button-link {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    padding: 18px 43px;
    box-sizing: border-box;
    background-color: #FF0000;
    border: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 66px;
}

/*------------------footer------------------*/

footer {
    text-align: right;
    margin: 82px 105px 29px 0;
}

.copyrights {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #373737;
}



