.header-change-theme-text {
    margin-right: 5px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.header__change-theme-button {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: coral;
    background-color: #23201D;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.main-dark {
    background-color: #353A3D;
}

.header__navigation__menu__item-link.dark:hover {
    color: #89CA62;
}

.dark {
    color: coral;
}

.dark-background {
    background-color: #23201D;
}

.dark-button-subscribe-now {
    background-color: darkgreen;
}

.dark-button-best-articles {
    background-color: royalblue;
}