/*----------------General----------------*/
.container {
    width: 1900px;
    margin: 0 auto;
}

a:any-link {
    text-decoration: none;
}

.h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 0;
}

ul, li {
    margin: 0;
}

main {
    background-color: #F2F2F2;
}

/*----------------Header Logo----------------*/
.header {
    display: flex;
    align-items: center;
    background-color: #313131;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo {
    position: relative;
    margin-left: 30px;
}

.logo-name {
    margin-left:50px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 0;
    color: white;
}

.header-logo::before {
    content: url("../images/Header Footer Logos/logo-img 1.png");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*----------------Header Navigation----------------*/
.header-navigation{
}

.header-navigation-dark {
    color: tomato;
}

.header__navigation-menu {
    display: flex;
}

.header__navigation__menu-item {
    list-style-type: none;
}

.header__navigation__menu-item+.header__navigation__menu-item {
    margin-left: 35px;
}

.header__navigation__menu__item-link {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 0;
    color: white;
    text-transform: uppercase;
}

.header__navigation__menu__item-link:hover {
    color: #14B9D5;
}

/*----------------Header Search Button----------------*/
.header__search-button{
    height: 70px;
    width: 70px;
    background: url("../images/Search button icon/fa-search.png") no-repeat center black;
    border: none;
    cursor: pointer;
}

/*----------------Header The Latest News----------------*/
.header__the-latest-news {
    width: 100%;
    height: 370px;
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Main Images/header-bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-top: 163px;
    box-sizing: border-box;
    column-gap: 20px;
    row-gap: 44px;
}

.header__the-latest-news-text {
    width: 100%;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: white;
    text-transform: uppercase;
}

.header__the-latest-news-subscribe-now {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
    background-color: #89CA62;
    border-radius: 4px;
    border: 1px solid #89CA62;
    width: 170px;
    height: 55px;
    cursor: pointer;
}

.header__the-latest-news-best-articles {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: white;
    background-color: #14B9D5;
    border-radius: 4px;
    border: 1px solid #14B9D5;
    width: 170px;
    height: 55px;
    cursor: pointer;
}

/*----------------Main Most Popular Posts----------------*/
.main__most-popular-posts-wrapper {
    width: 100%;
    padding-top: 51px;
}
.main__most-popular-posts-text {
    display: block;
    text-align: center;
    margin-bottom: 52px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    color: #18B4CF;
    text-transform: uppercase;
}

.main-most-popular-posts {
    display: flex;
    flex-basis: 370px;
    gap: 30px 32px;
    height: 895px;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;
    margin: 0 auto;
}

.main__most-popular-posts-text {
    width: 100%;
    text-align: center;
    margin-bottom: 52px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    color: #18B4CF;
}

.main__most-popular-posts-item {
    align-self: flex-start;
}

.main__most-popular-posts__item__picture-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    background-color: white;
    color: #353A3D;
}

/*----------------Main Most Popular Clients----------------*/
.main__most-popular-clients-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: max-content 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Main Images/parallax-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
}

.main__most-popular-clients-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: white;
    text-transform: uppercase;
    grid-area: 1 / 1 / 1 / 5;
    justify-self: center;
    padding-top: 108px;
    padding-bottom: 87px;
    position: relative;
}

.main__most-popular-clients-text::after {
    content:"";
    width: 60px;
    border-bottom: 3px solid #18B4CF;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main__most-popular-clients-logo {
    align-self: center;
}

/*----------------Top Rate----------------*/
.main__top-rated-grid-container {
    width: 100%;
    display: grid;
    grid-template-rows:  132px auto;
    grid-template-columns: repeat(7, auto);
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.main__top-rated-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    grid-area: 1 / 1 / 1 / 8;
}

/*----------------Hot News----------------*/
.main__hot-news-grid-container {
    width: 1168px;
    margin: 0 auto 77px;
    display: grid;
    grid-template-columns: repeat(4, 277px);
    grid-template-rows: repeat(5, auto);
    gap: 43px 20px;

}

.main__hot-news-text {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    grid-area: 1 / 1 / 1 / 5;
    justify-self: center;
    padding: 50px 0 7px 0;
}

.hot-news-link {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

.hot-news-div {
    background-color: #F9F7F7;
}

.hot-news-div3 {
    display: grid;
    grid-template-columns: min-content;
}

.main__hot-news-post1 {
    grid-column: span 3;
    justify-self: left;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
}

.main__hot-news-post1-image-link {
    margin-right: 24px;
    margin-left: 10px;
}

.main__hot-news-post2-7 {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    justify-items: center;
}

.main__hot-news-post3-5 {
    grid-column: span 2;
    justify-self: left;
    display: grid;
    grid-template-columns: min-content;
}

.main__hot-news-post3-4-5-6-image-link {
    margin-top: 12px;
    margin-right: 14px;
    margin-left: 10px;
}

.main__hot-news-post4-6 {
    grid-column: span 2;
    justify-self: right;
    display: grid;
    grid-template-columns: min-content;
}

.main__hot-news-post8 {
    grid-column: span 3;
    justify-self: right;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.main__hot-news-post8-image-link {
    margin-right: 24px;
    margin-left: 10px;
}

/*----------------Footer----------------*/
.main__footer {
    background: black;
    color: white;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    padding-top: 29px;
    padding-bottom: 27px;
}

.main__footer-grid-container {
    display: grid;
    width: 1168px;
    margin: 0 auto;
    justify-items: right;
    align-items: center;
    grid-template-columns: auto 1fr;
}
